@model MicroClimateControllSystem.Models.Sensor

@{
    ViewBag.Title = "Редактирование параметров";
}

<h2>Редактирование параметров</h2>

@using (Html.BeginForm("EditValue", "Main", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.SensorID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SensorID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Дата -->
    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => model.Date)
    </div>
    <hr />
    <b>Нормальные значения для помещения в котором установленно устройство</b><br><br>

    <div class="form-group">
        @Html.LabelFor(model => model.NormalTemp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NormalTemp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NormalTemp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NormalHumidity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NormalHumidity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NormalHumidity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить изменения" class="btn btn-default" />
        </div>
    </div>
</div>
        }

<div>
    @Html.ActionLink("Главная", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
